
module.exports = {
    port: 8080,
    staticPath: 'public',
    defaultFile: 'index.html',
    proxy: {
        target: 'http://api.yourserver.com',
        changeOrigin: true, // needed for virtual hosted sites 
        ws: true, // proxy websockets 
        pathRewrite: {
            '^/api/': '/'
        }
    }
}
